<header>
  <div class="img">
    <h2>NEWS</h2>
    <h1>AZ</h1>
  </div>
  <div class="header-links">
    <ul>
        <li><a href="/jobs-form"><i class="fas fa-plus"></i>Add Jobs</a></li>
        <li><a href="/news-form"><i class="fas fa-plus"></i>Add News</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/news">News</a></li>
    </ul>
    <!-- <a href="/"><button type="button" id="singup">Sing Up</button></a> -->
    <button type="button" id="logout">Log out</button>
  </div>
</header>