<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../parts/head %>
</head>

<body>

    <% include ../parts/header %>

    <div class="contact-container">
        <div class="contact-box">
            <div class="name-box">
                <input type="text" placeholder="Name" id="name">
            </div>
            <div class="surname-box">
                <input type="text" placeholder="Surname" id="surname">
            </div>
            <div class="email-box">
                <input type="email" placeholder="E-mail" id="email">
            </div>
            <textarea name="text-box" id="text-box"></textarea>
            <button type="button" id="contact-btn">Send</button>
        </div>
    </div>
</body>

</html>