<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parts/head %>
</head>
<body>

    <% include ../parts/header %>

    <div class="is-elani">

        <div class="form">
            <div class="is-adi">
                <input type="text" placeholder="isin adi" id="isin-adi">
            </div>
            <div class="image">
                <input type="text" placeholder="is haqqinda sekil URL" id="image">
            </div>
            <div class="tecrube">
                <input type="number" placeholder="Tecrube (il)" id="tecrube">
            </div>
            <div class="tarix">
                <input type="date" id="tarix">
            </div>
            <div class="maas">
                <input type="number" placeholder="Maas" id="maas">
            </div>
            <button type="button" id="send-form">Send</button>

        </div>
    
    </div>
    
</body>
</html>