<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="news.css">
<% include ../parts/head %>

<body>

  <div class="container-news"></div>


  <script src="/js/getNews.js"></script>
</body>

</html>