<!DOCTYPE html>
<html lang="en">
<% include ../parts/head %>
<body>

  <% include ../parts/header %>

  <div class="form-container">

    <div class="form-container-flex">

      <div class="inline-inputs">
        <label for="title">
          <span>Title</span>
          <input type="text" autocomplete="off" name="title" class="inp" id="title">
        </label>
        <label for="author">
          <span>Author</span>
          <input type="text" autocomplete="off" name="author" class="inp" id="author">
        </label>
      </div>

      <label for="img">
        <span>Image Url</span>
        <input type="text" autocomplete="off" name="img" class="inp" id="img">
      </label>

      <label for="desc">
        <span>Description</span>
        <textarea name="description" id="desc" cols="30" rows="10"></textarea>
      </label>

      <button type="button" class="save-btn">Save article</button>

    </div>

  </div>

</body>
</html>