header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: whitesmoke;
}
header h2 {
  font-size: 44px;
  color: rgb(236, 34, 34);
}
header h1 {
  font-size: 50px;
  color: #151515;
}
header ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header ul li {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
header ul li i {
  margin-right: 5px;
  font-size: 15px;
}
header ul li a {
  color: #151515;
  font-weight: 600;
  text-decoration: none;
}
header .header-links {
  display: flex;
}
header button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
header #singup {
  background: transparent;
  border: 2px solid rgb(236, 34, 34);
  border-radius: 5px;
  margin-right: 10px;
}
header #singin {
  background: rgb(236, 34, 34);
  border: 2px solid whitesmoke;
  border-radius: 7px;
  margin-right: 10px;
  color: white;
}
.form-container {
  width: 100%;
  min-height: calc(100% - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container-flex label {
  display: flex;
  flex-direction: column;
}

.form-container-flex label input {
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid silver;
  outline: none;
  background-color: #dedede;
  width: 400px;
}

.form-container-flex label textarea {
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid silver;
  outline: none;
  background-color: #dedede;
  width: 400px;
  resize: none;
}

.form-container-flex button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: orangered;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
} 

.form-container-flex button:hover {
  background-color: rgb(143, 93, 1);
} 